<div class="content-right-div">
    <div class="card" style="padding-top: 20px;">
        <div class="card-body">
                <a class="nguoidung" href="/admin-qlkh">Quản Lý Khách Hàng</a>
            <hr>
                <a class="nguoidung" href="/admin-qldn" title="">Quản Lý Doanh Nghiệp</a>
            <hr>
                <a class="nguoidung"  href="/admin-dkdn" title="">Đăng Ký Doanh Nghiệp</a>
            <hr>
                <a class="nguoidung"  href="/admin-tkdv" title="">Thống Kê Dịch Vụ</a>
            <hr>
                <a class="nguoidung"  href="/admin-logout" title="">Đăng Xuất</a>
        </div>
    </div>		
</div>