<div class="col-md-4 col-sm-4 col col-xs-4 title-left">
    <a href="#" title=""><i class="glyphicon glyphicon-home"></i></a>
    <a href="#" title="">Quản Lý</a>
</div>
<div class="col-md-4 col-sm-4 col col-xs-4 title-center">
    <a title=""><i class="glyphicon glyphicon-folder-open"></i></a>
    <br>
    <a href="#" title=""><strong>Quản Lý Website</strong></a>
</div>
<div class="col-md-4 col-sm-4 col col-xs-4 title-right">
    <a href="#" title=""><i class="glyphicon glyphicon-user"></i></a>
    <a href="#" title="">Chào: <strong>Admin</strong></a>
</div>
