<div class="content-center-div">
    <ul style="margin-left:0.5px!important">
        <li>
            <a href="/naptien?id=paypal" title=""><i class="fab fa-cc-paypal"></i><br>PayPal</a>
        </li>
    </ul>
</div>