<div class="content-center-div">
    <ul style="margin-left:0.5px!important">
        <!-- id = loại HĐ -->
        <li>
            <a href="/thanhtoan?loaiHD=1" title=""><i class="fas fa-bolt"></i><br>TIỀN ĐIỆN</a>
        </li>
        <li>
            <a href="/thanhtoan?loaiHD=2" title=""><i class="glyphicon glyphicon-tint"></i><br>TIỀN NƯỚC</a>
        </li>
        <li>
            <a href="/thanhtoan?loaiHD=3" title=""><i class="fa fa-wifi"></i><br>TIỀN INTERNET</a>
        </li>
    </ul>
</div>