<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><a title=""><img src="images/logo-dienluc.png" alt=""></a></div>
      <div class="swiper-slide"><a title=""><img src="images/logo-vnpt.svg" alt=""></a></div>
      <div class="swiper-slide"><a title=""><img src="images/logo-fpt.png" alt=""></a></div>
      <div class="swiper-slide"><a title=""><img src="images/logo-sctv.png" alt=""></a></div>
      <div class="swiper-slide"><a title=""><img src="images/logo-cnbenthanh.png" alt=""></a></div>
      <div class="swiper-slide"><a title=""><img src="images/logo-cnhanoi.png" alt=""></a></div>
      <div class="swiper-slide"><a title=""><img src="images/logo-cnnhabe.jpg" alt=""></a></div>
      <div class="swiper-slide"><a title=""><img src="images/logo-cncholon.jpg" alt=""></a></div>
      <div class="swiper-slide"><a title=""><img src="images/logo-htv.png" alt=""></a></div>
      <div class="swiper-slide"><a title=""><img src="images/logo-dienspc.jpg" alt=""></a></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
  </div>
