<div class="content-center-div">
        <div class="scrollable" style="margin-top:0;height:605px">
    <ul class="social">
        <li><a><img src="images/logo-dienluc.png" alt=""></a></li>
        <li><a><img src="images/logo-diennpc.jpg" alt=""></a></li>
        <li><a><img src="images/logo-dientphcm.png" alt=""></a></li>
        <li><a><img src="images/logo-dienluc.png" alt=""></a></li>
        <li><a><img src="images/logo-vnpt.svg" alt=""></a></li>
        <li><a><img src="images/logo-fpt.png" alt=""></a></li>
        <li><a><img src="images/logo-sctv.png" alt=""></a></li>
        <li><a><img src="images/logo-cnbenthanh.png" alt=""></a></li>
        <li><a><img src="images/logo-cnhanoi.png" alt=""></a></li>
        <li><a><img src="images/logo-cnnhabe.jpg" alt=""></a></li>
        <li><a><img src="images/logo-cncholon.jpg" alt=""></a></li>
        <li><a><img src="images/logo-htv.png" alt=""></a></li>
        <li><a><img src="images/logo-dienspc.jpg" alt=""></a></li>
    </ul>
</div>
</div>