<section class="home-information">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <h2>
                <span>Thanh toán hóa đơn trực tuyến<br> nhanh gọn, tiện lợi, bất cứ nơi đâu</span>
            </h2>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="footer-menu">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <a href="#" class="logo-footer"><img src="images/logo-web.png" alt="" style="height: 150px;width: 150px;"></a>
                    <div class="footer-info">
                        <strong>THANH TOÁN HÓA ĐƠN TRỰC TUYẾN</strong>
                        <br>
                        <strong>Trụ sở:</strong> 12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, Hồ Chí Minh.
                        <br>
                        <strong>Văn phòng làm việc:</strong> H7.1 Đại Học Công Nghiệp,Nguyễn Văn Bảo, Phường 4, Gò
                        Vấp, Hồ Chí Minh.
                        <br>
                        <strong>Điện Thoại:</strong>18001799
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 footer-menu">
                            <ul>
                                <li><a href="/">TRANG CHỦ</a></li>
                                <li><a href="/gioithieu">GIỚI THIỆU</a></li>
                                <li><a href="/dichvu">DỊCH VỤ</a></li>
                                <li><a href="/doitac">ĐỐI TÁC</a></li>
                                <li><a href="/lienhe">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                        <div class="col-md-10 col-xs-12 col-md-offset-1">
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-cer">
                    Giấy phép kinh doanh: Số 0101252356, Sở kế hoạch và đầu tư Hà Nội cấp ngày 10/6/2005
                    <br>
                    Giấy chứng nhận đủ điều kiện kinh doanh thuốc số: 01/07/05/HN-DKKĐ do Sở y tế Hà Nội cấp ngày
                    3/7/2005
                </div>
                <div class="footer-bottom-left">
                    © Bản quyền thuộc về Nhóm 15 | Cung cấp bởi <a href="#">Sapo</a>
                </div>
            </div>
        </div>
    </div>
</div>
