
<div class="content-center-div">
    <form class="form-login" action="/thanhtoan" method="GET">
        <input type="text" name="loaiHD" value="<%=loai%>" hidden readonly>
        <input type="text" name="maDN" value="<%=nameCty%>" hidden readonly>
        <div class="input-group">
            <input name="makh" class="form-control" id="tt-makh" placeholder="Mã Khách Hàng" type="text"/>
        </div>
        <div class="login-group form-inline">
            <input class="form-control" type="submit" value="Thanh Toán" />
        </div>
    </form>
</div>