<div class="content-center-div">
    <h2 style="margin-top: 0!important;padding-top: 10px;">Giới Thiệu Về Website</h2>
    <div class="scrollable" style="margin-top:10px;height:550px">
    <div class="content-gt" >
        <span>- Trong thời đại hiện nay, thời đại của sự phát triển công nghệ thông tin đã tạo ra những thay đổi quan
            trọng trong đời sống con người cũng như đời sống sản xuất, với sự hỗ trợ của công nghệ thông tin một số
            ngành nghề thủ công đang được dần thay thế bằng những ứng dụng, những robot thông minh. Lợi ích từ việc tiết
            kiệm thời gian và chi phí là rất lớn.<br>
            - Hiện nay, đời sống của mỗi người ngày càng bận rộn và tất bật, công việc ở công ty, việc gia đình, tình
            cảm… Thời gian rảnh càng bị bó hẹp lại và nhu cầu về những việc có thể xử lý nhanh gọn thì càng tăng. Đa số
            mọi người đều có kiến thức cơ bản về việc sử dụng thiết bị điện thoại hay máy tính, cho nên hiện nay có rất
            nhiều dịch vụ trên những thiết bị này có thể đáp ứng những nhu cầu cơ bản như gọi thức ăn nhanh, đặt hàng
            trực tuyến, gọi phương tiện di chuyển… <br>
            Một trong số đó có một dịch vụ có thể giải quyết vấn đề về các hóa đơn trong gia đình như hóa đơn điện,
            nước, internet… Nhận thức được vấn đề này nên nhóm đã phát triển ứng dụng web Thanh toán hóa đơn trực tuyến
            để hỗ trợ khách hàng trong việc thanh toán các hóa đơn của mình.<br>
            - Thanh toán hóa đơn trực tuyến là một dạng thực hiện thanh toán các hóa đơn mà bạn đang sử dụng trong gia
            đình của bạn thông qua website trực tuyến. Việc sử dụng thanh toán hóa đơn trực tuyến sẽ góp phần thúc đẩy
            quá trình thanh toán của bạn nhanh hơn, giúp bạn tiết kiệm một khoản thời gian và tiện lợi hơn những cách
            thanh toán truyền thống. Website Thanh toán hóa đơn trực tuyến của chúng tôi sẽ giúp bạn làm điều đó.<br>
            - Ứng dụng được phát triển để kết nối doanh nghiệp cung cấp dịch vụ và khách hàng của họ để khách hàng có
            thể thực hiện thanh toán các loại hóa đơn như hóa đơn điện, hóa đơn nước, hóa đơn Internet ..v.v…. Khách
            hàng có thể đăng ký thành viên, đăng nhập, nạp tiền vào tài khoản của mình thông qua cổng thanh toán Paypal
            để thuận tiện cho việc thanh lý các hóa đơn của bạn. Khách hàng chỉ cần cung cấp cho website của chúng tôi
            mã khách hàng của doanh nghiệp mà bạn đã đăng ký với doanh nghiệp cung cấp dịch vụ. Ngoài chức năng chính
            thanh toán, khách hàng có thể kiểm soát được lịch sử giao dịch, bao gồm lịch sử thanh toán, lịch sử nạp
            tiền, chi tiết hóa đơn đã thanh toán. Khách hàng cũng có thể đặt lịch nhắc cho mã khách hàng mà bạn muốn
            chúng tôi gửi mail nhắc bạn hằng tháng về việc gần tới hạn thanh toán hóa đơn đó. Với giao diện thân thiện,
            thao tác dễ dàng, website của chúng tôi sẽ đem đến cho bạn một trải nghiệm tuyệt vời và tiện lợi.<br>
            - Để xây dựng được một website Thanh toán hóa đơn trực tuyến có chất lượng dịch vụ tốt, đề tài đã được phát
            triển dựa trên nền tảng NodeJS với cơ sở dữ liệu NoSQL nhanh và linh hoạt là DynamoDB cùng với một số dịch
            vụ của Amazon Web Services.</span>
    </div>
</div>
</div>
