<div id="my-page">
    <div class="container">
        <header class="header">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <a href="#" class="logo-wrapper"><img src="images/logo-web.png" alt=""
                            style="margin-top: 20px;height: 40px;margin-bottom: 10px;"></a>
                </div>
                <nav class="navbar-default">
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 hidden-xs hidden-sm">
                        <ul class="nav navbar-nav position-nav" id="ulmenuheader">
                            <% if (user == null) { %>
                            <li>
                                <a href="/">Trang Chủ</a>
                            </li>
                            <li>
                                <a href="/gioithieu">Giới Thiệu</a>
                            </li>
                            <li><a href="/doitac">Đối Tác</a></li>
                            <li><a href="/lienhe">Liên Hệ</a></li>
                            <%}else{%>
                            <li>
                                <%if(user.loaiTK==2){%>
                                    <a href="/lichsuthanhtoan">Trang Chủ</a>
                                <%}else{%>
                                    <a href="/">Trang Chủ</a>
                                <%}%>
                            </li>
                            <li>
                                <a href="/gioithieu">Giới Thiệu</a>
                            </li>
                            <li><a href="/doitac">Đối Tác</a></li>
                            <li><a href="/lienhe">Liên Hệ</a></li>
                            <%}%>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-3 col-xs-12 header-right hidden-xs hidden-sm">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="search" id="input" class="search-query form-control" value=""
                                    title="" placeholder="Từ khóa tìm kiếm">
                                <span class="action-search">
                                    <button class="btn-search" type="submit">
                                        <a href="/tcsearch" style="color: black;"><i class="fa fa-search"></i></a>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <div class="action-mobile hidden-lg hidden-md visible-sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <div class="button_menu_mobile">
                        <div>
                            <div class="my-header">
                                <a href="#my-menu">
                                    <i class="fa fa-align-left fa-2x" style="color: white;font-size: 2em;"></i>
                                </a>
                            </div>
                        </div>
                        <div id="my-menu">
                            <ul id="my-contacts">
                                <li>
                                    <a href="/">Trang Chủ</a>
                                </li>
                                <li>
                                    <a href="/gioithieu">Giới Thiệu</a>
                                </li>
                                <li><a href="/doitac">Đối Tác</a></li>
                                <li><a href="/lienhe">Liên Hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="search" name="" id="input" class="search-query form-control" value="" title=""
                                placeholder="Từ khóa tìm kiếm">
                            <span class="action-search">
                                <button class="btn-search" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <div class="top-card-contain">
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>