<div class="content-center-div">
    <h2 style="margin-top: 0!important;padding-top: 10px;">Liên Hệ</h2>
    <div class="content-gt" style="text-align: left;padding-left: 20px;padding-right: 20px;font-size: 20px;">
        <span><strong>THANH TOÁN HÓA ĐƠN TRỰC TUYẾN</strong><br>
            Trụ sở: <strong>12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, Hồ Chí Minh.</strong><br>
            Văn phòng làm việc: <strong>H7.1 Đại Học Công Nghiệp,Nguyễn Văn Bảo, Phường 4, Gò Vấp, Hồ Chí Minh.</strong><br>
            Điện Thoại: <strong>18001799</strong><br><br></span>
        <a href="https://www.facebook.com/fr.thanhduy"><i class="fab fa-facebook-square"></i></a>
        <a href="https://mail.google.com"><i class="fab fa-google-plus-square"></i></a>
        <a href="https://www.youtube.com"><i class="fab fa-youtube-square"></i></a>
    </div>
</div>